<div class="card-bd">
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    matSort
    style="table-layout: fixed; width: 100%"
  >
    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef style="width: 9rem">Proyecto</th>
      <td mat-cell *matCellDef="let element">
        {{ proyecto.name }} / {{ lote.NombreTrabajo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="perfil">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="width: 12rem"
        mat-sort-header
      >
        Perfil
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Perfil }}</td>
    </ng-container>

    <ng-container matColumnDef="patronCorte">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 10rem"
      >
        Patron de corte
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Item }}</td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 6rem">
        Cantidad
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Cantidad }}</td>
    </ng-container>

    <ng-container matColumnDef="piezas">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="width: 15rem"
      >
        Piezas
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Piezas }}</td>
    </ng-container>

    <ng-container matColumnDef="saldoMM">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 6rem">
        Saldo (mm)
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Merma | number:'1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="longitud">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 6rem">
        Longitud (mm)
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element["Longitud Stock Total"] | number:'1.2'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="saldo%">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 6rem">
        Saldo (%)
      </th>
      <td mat-cell *matCellDef="let element">{{ element["Merma %"] }}</td>
    </ng-container>

    <ng-container matColumnDef="cortes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 6rem">
        Cortes
      </th>
      <td mat-cell *matCellDef="let element" style="width: 6rem">
        {{ element.Cortes }}
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          matIconButton
          (click)="toggle(element); $event.stopPropagation()"
          class="example-toggle-button"
          [class.example-toggle-button-expanded]="isExpanded(element)"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="graficoFila">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          *ngIf="
            getSegmentDataFromString(
              element,
              element['Longitud Stock Total']
            ) as segmentos
          "
          style="
            display: flex;
            height: 30px;
            width: 100%;
            border: 1px solid #ccc;
            margin-top: 8px;
          "
        >
          <div
            *ngFor="let seg of segmentos"
            [style.width.%]="seg.width"
            [ngClass]="seg.clase"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0 4px;
              pointer-events: auto;
            "
            [matTooltip]="seg.label + ': ' + seg.width.toFixed(1) + '%'"
            matTooltipPosition="above"
          >
            {{ seg.width > 10 ? seg.label : "" }}
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          class="example-element-detail-wrapper"
          [class.example-element-detail-wrapper-expanded]="isExpanded(element)"
        >
          <div class="example-element-detail">
            <table
              mat-table
              [dataSource]="element.detalleExpandido"
              class="tabla-detalle"
              style="width: 100%; border-collapse: collapse"
            >
              <!-- Columna: Código -->
              <ng-container matColumnDef="nombrePieza">
                <th mat-header-cell *matHeaderCellDef>Ref (res nombre)</th>
                <td mat-cell *matCellDef="let row">{{ row.nombrePieza }}</td>
              </ng-container>

              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cant</th>
                <td mat-cell *matCellDef="let row">{{ row.cantidad }}</td>
              </ng-container>

              <ng-container matColumnDef="cantidadTotal">
                <th mat-header-cell *matHeaderCellDef>Cant Total</th>
                <td mat-cell *matCellDef="let row">{{ row.cantidadTotal }}</td>
              </ng-container>

              <ng-container matColumnDef="largo">
                <th mat-header-cell *matHeaderCellDef>Largo (mm)</th>
                <td mat-cell *matCellDef="let row">{{ row.largo }}</td>
              </ng-container>

              <ng-container matColumnDef="subTotal">
                <th mat-header-cell *matHeaderCellDef>SubTotal (mm)</th>
                <td mat-cell *matCellDef="let row">{{ row.subTotal }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="subColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: subColumns"></tr>
            </table>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr
      mat-row
      matRipple
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="isExpanded(element)"
      (click)="toggle(element)"
    ></tr>

    <ng-container *ngIf="!hide">
      <tr mat-row *matRowDef="let row; columns: ['graficoFila']"></tr>
    </ng-container>

    <ng-container *ngIf="!hide">
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
    </ng-container>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>

<div class="grid3">
  <div class="stat">
    <h4>Saldos</h4>
    <div class="kline">
      <span>Saldo total (mm)</span
      ><strong> {{ resumenSaldosYRestos.SaldoConEmpate | number:'1.2-2' }} </strong>
    </div>
    <div class="kline">
      <span>Saldo total (%)</span
      ><strong
        > {{ resumenSaldosYRestos['Saldototal(%)'].toFixed(2)}}%</strong
      >
    </div>
    <div class="kline">
      <span>Resto utilizable (mm)</span
      ><strong> {{ resumenSaldosYRestos.SaldoTotal | number:'1.2-2' }}</strong>
    </div>
    <div class="kline">
      <span>Resto utilizable (%)</span
      ><strong>{{ resumenSaldosYRestos['RestoUtilizable(%)'].toFixed(2) }}%</strong>
      <!-- colocar como porcentaje -->
    </div>
    <div class="kline">
      <span>Desperdicio(mm)</span
      ><strong> {{ (resumenSaldosYRestos.saldo_Corte_mm + resumenSaldosYRestos.saldo_Residuo_mm) | number:'1.2-2'  }}</strong>
    </div>
    <div class="kline">
      <span>Desperdicio (%)</span
      ><strong> {{ resumenSaldosYRestos['Desperdicio(%)'].toFixed(2)  }}%</strong>
         </div>
  </div>
  <div class="stat">
    <h4>Postprocesado</h4>
    <div class="kline">
      <span># Barras utilizadas</span
      ><strong> {{ resumenSaldosYRestos.Barras || 0 }} </strong>
    </div>
    <div class="kline">
      <span># Cortes</span><strong> {{ resumenSaldosYRestos.CortesTotal  }}</strong>
    </div>
    <div class="kline">
      <span># Empates</span><strong> {{ resumenSaldosYRestos.EmpatesTotal  }}</strong>
    </div>
    <div class="kline">
      <span># Piezas</span><strong>{{ getPiezas() }}</strong>
    </div>
  </div>
  <div class="stat">
    <h4>Resumen por Perfil</h4>
    <div class="fila-compacta">
      <span><strong>Perfil</strong></span>
      <span class="celda end"><strong>Longitud (mm)</strong></span>
      <span class="celda end"><strong>Cantidad</strong></span>
    </div>
    <div class="fila-compacta" *ngFor="let grupo of resumenPerfiles">
      <span class="celda">
        <strong> {{ grupo.perfil }} </strong></span
      >
      <span class="celda end">{{ grupo.longitud | number:'1.2' }}mm</span>
      <span class="celda end">{{ grupo.cantidad}}</span>
    </div>
  </div>
</div>
