<main class="main">
  <h1 class="page-title">Lotes del proyecto</h1>
  <p class="subtitle">Lote actual: <strong>Ninguno</strong></p>
  
    
  <app-tabla
    #tablaRef
    [data]="dataSource.data"
    [columnas]="columnasTabla"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (seleccionadosChange)="actualizarSeleccionados($event)"
    (filaClick)="clickRow($event)"
  >
    <div tabla-acciones class="toolbar-actions">
      <button (click)="crearLote()" class="btn btn-primary">
        + Crear lote
      </button>
      <button (click)="borrarLote()" class="btn btn-muted">
        🗑️ Borrar lote
      </button>
    </div>
  </app-tabla>  
</main>
