<main class="main">
  <h1 class="page-title">Datos del proyecto</h1>
  <p class="subtitle"> <strong> Proyecto: {{ nombreProyecto }} Lote: {{ nombreLote }}</strong></p>
<!-- 
  <ng-container *ngIf="mostrarTabla"> -->
    <app-tabla
      #tablaRef
      [data]="datosDelTrabajo"
      [columnas]="columnasTabla"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (seleccionadosChange)="actualizarSeleccionados($event)"
      (filaClick)="clickRow($event)"
      [key]="mostrarTabla"
    >
      <div tabla-acciones class="toolbar-actions">
        <button (click)="crearLote()" class="btn btn-primary">
          Importar Excel/NC
        </button>
        <button (click)="borrarLote()" class="btn btn-muted">
          🗑️ Borrar Datos
        </button>
      </div>
    </app-tabla>
  <!-- </ng-container> -->
</main>
