<main class="main">
  <h1 class="page-title">Piezas del proyecto</h1>
  <p class="subtitle"> <strong> Proyecto: {{ proyectoSeleccionado.name }} Lote: {{ loteSeleccionado.NombreTrabajo }}</strong></p>
<!-- 
  <ng-container *ngIf="mostrarTabla"> -->
    <app-tabla
      #tablaRef
      [data]="datosDelTrabajo"
      [columnas]="columnasTabla"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (seleccionadosChange)="actualizarSeleccionados($event)"
      (filaClick)="clickRow($event)"
    >
      <div tabla-acciones class="toolbar-actions">       
        <input #fileInput type="file" hidden (change)="onFileInputChange($event)" 
          accept=".nc1,.xlsx,.xlsm" multiple />
        <button (click)="fileInput.click()" class="btn btn-primary">
          <mat-icon>cloud_upload</mat-icon> Importar Excel/NC
        </button>
        <button (click)="borrarDatos()" class="btn btn-muted">
          <mat-icon>delete</mat-icon>
          Borrar Datos
        </button>
      </div>
    </app-tabla>
  <!-- </ng-container> -->
</main>
