<div style="display: grid; gap: 12px">

  <!-- toolbar tabla -->
  <div class="toolbar">
    <div class="search">
      🔎
      <input
        type="search"
        placeholder="Buscar proyectos o creadores…"
        aria-label="Buscar"
        [(ngModel)]="filtro"
        (ngModelChange)="filtrarTabla()"
      />
    </div>

    <select
      class="select"
      aria-label="Filas por página"
      (change)="onPageSizeChange($event)"
    >
      <option value="10">10 por página</option>
      <option value="25">25 por página</option>
      <option value="50">50 por página</option>
    </select>

    <div >
      <ng-content select="[tabla-acciones]"></ng-content>
    </div>
  </div>

  <!-- tabla -->
  <section class="card-table">
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <!-- Checkbox para seleccionar todos -->
            <th>
              <input
                type="checkbox"
                class="cb"
                [checked]="isAllSelected()"
                (change)="toggleAll($event)"
              />
            </th>
            <th
              *ngFor="let col of columnas"
              (click)="ordenarPor(col.key)"
              class="ordenable"
            >
              {{ col.header }}
              <span *ngIf="columnaOrden === col.key">
                {{ ordenAscendente ? "▲" : "▼" }}
              </span>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let element of pagedData"
            class="row"
            (dblclick)="filaClick.emit(element)"
          >
            <!-- Checkbox por fila -->
            <td>
              <input
                class="cb"
                type="checkbox"
                [(ngModel)]="element.seleccionado"
                (change)="emitSeleccionados()"
                (click)="$event.stopPropagation()"
              />
            </td>
            <td
              *ngFor="let col of columnas"
              [style.text-align]="col.tipo === 'numero' ? 'right' : 'left'"
            >
              <span [ngClass]="col.spanClase">
                {{ formatearDato(col, element[col.key]) }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <!-- paginacion -->
  <div class="tfoot">
    <span style="color: var(--muted); font-weight: 600">
      {{ rangoTexto }}
    </span>
    <div class="pager">
      <button class="iconbtn" (click)="prevPage()" [disabled]="pageIndex === 0">
        ◀
      </button>
      <button
        class="iconbtn"
        (click)="nextPage()"
        [disabled]="isNextDisabled()"
      >
        ▶
      </button>
    </div>
  </div>
</div>
