.spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-custom {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.select-horizontal {
  display: flex;
  align-items: center;
  gap: 12px;
}

.custom-label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.ancho-sidenav {
  width: 4rem;
  transition: width 0.3s ease;
  overflow: hidden;
}
.ancho-sidenav.collapsed .label {
  opacity: 0;
  width: 0;
}

.ancho-sidenav.expanded .label {
  opacity: 1;
  width: auto;
}

.ancho-sidenav.expanded {
  width: 14rem;
  background-color: whitesmoke;
}

.top-sidenav-logo {
  display: flex;
  height: 55px;
  align-items: center;
  border-bottom: 1px solid chocolate;
}

.icon {
  text-align: center;
  flex-shrink: 0;
  font-size: 1.5rem;
  margin-right: 0.8rem;
}

.label-icon {
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease, width 0.3s ease;
}

.top-brand {
  display: flex;
  align-items: center;
  color: #3e3b38;
  gap: 10px;
  padding: 0.35rem 0.8rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-family: "Gotham", "Arial";
  font-size: 1.5rem;
}

// .spacer {
//   flex-grow: 1;
// }

.brand-icon {
  width: 2rem;
  height: 2rem;
}

.mat-drawer-content {
  overflow-y: auto;
  overflow-x: hidden;
}

// mat-drawer {
//   transition: transform 0.4s ease, opacity 0.4s ease !important;
//   // transform: translateX(-20px) !important;
//   // background: linear-gradient(to bottom, #2c3e50, #34495e);
//   // color: white !important;

//   // background: rgba(255, 255, 255, 0.1);
//   // backdrop-filter: blur(10px);
//   // border-right: 1px solid rgba(255, 255, 255, 0.2);

// }

.navbtn:disabled {
  // background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
  border: 1px dashed #999;
}
