
.spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-custom {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.ancho-sidenav{
    width: 60px;
    height: 100%;
}


.select-horizontal {
  display: flex;
  align-items: center;
  gap: 12px;
}

.custom-label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

